/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Albertina+MT+Regular+SC&display=swap');

body {
    font-family: 'Albertina MT Regular SC', serif;
    background-color: #EBE9E6;
}

.offcanvas-header {
    justify-content: flex-end;
}

.offcanvas-body {
    padding-top: 2rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
}

.navbar + .container-fluid {
    margin-top: 56px; /* Adjust this value to match the height of your navbar */
}

.nav-link {
    font-size: 3rem; /* Adjust the font size here */
    color: #555; /* Dark gray color */
    transition: color 0.3s;
}

.nav-link:hover {
    color: #000; /* Black color on hover */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Vertically center items */
}

.navbar-brand img {
    margin-right: 10px; /* Adjust margin as needed */
    margin-left: 100px;
}

.navbar-brand span {
    flex: 1; /* Expand to fill remaining space */
}

/* CSS for jumbotron */
.jumbotron {
    background: rgba(0, 0, 0, 0.35) url('../images/sampul.png');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS for content inside jumbotron */
.content-jumbotron {
    text-align: center;
}

/* CSS for header-1 (logo container) */
.header-1 {
    margin-top: 10px; /* Example margin */
}

/* CSS for logo inside header-1 */
.header-1 img {
    max-width: 600px; /* Adjust width of logo as needed */
    width: 100%; /* Ensure the image scales with its container */
    height: auto; /* Maintain the aspect ratio */
}

/*container-fluid*/
.container-fluid-2 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 650px;
    flex-wrap: nowrap;
}

.left-side-1 {
    flex: 1;
    background-color: #EBE9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.container-fluid-2-content {
    margin-left: 50px;
}

.left-side-1 h2 {
    font-size: 80px;
    margin-bottom: 5px;
}

.left-side-1 p {
    text-align: left;
    margin-bottom: 20px;
}

.left-side-1 .read-more {
    text-align: left;
}

.right-side-1 {
    flex: 1;
    background-image: url('../images/menu.jpg'); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.right-side-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Overlay color */
}

/*container-fluid*/
.container-fluid-3 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 650px;
    flex-wrap: nowrap;
}

.right-side-2 {
    flex: 1;
    background-color: #EBE9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.container-fluid-3-content {
    margin-right: 50px;
}

.right-side-2 h2 {
    text-align: right;
    font-size: 80px;
    margin-bottom: 5px;
}

.right-side-2 p {
    text-align: right;
    margin-bottom: 20px;
}

.right-side-2 .read-more {
    text-align: right;
}

.left-side-2 {
    flex: 1;
    background-image: url('../images/bukber.jpg'); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.left-side-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Overlay color */
}

/*container-fluid*/
.container-fluid-4 {
    background-color: #ffffff;
    padding: 40px 20px;
    height: 400px; /* Set to full viewport height */
    display: flex;
    align-items: center;
}

.left-side-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
}

.left-side-3 h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.left-side-3 p {
    margin-bottom: 30px;
}

.right-side-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}

.form-control {
    margin-bottom: 20px;
}

/*container-fluid-5*/
.container-fluid-5 {
    background-color: #EBE9E6;
    padding: 40px 20px;
    display: flex;
}

.container-fluid-5 .row {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.left-side-4 {
    padding: 20px;
}

.middle-side-4 {
    padding: 20px;
}

.right-side-4 {
    padding: 20px;
}

.left-side-4 h2, .middle-side-4 h2 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px; /* Adjust icon size as needed */
    height: 30px;
}

/* Additional CSS for phone image */
.phone-icon {
    width: 30px; /* Adjust icon size as needed */
    height: auto;
    margin-right: 10px;
    vertical-align: middle; /* Vertically center the image with the text */
}

.phone-number {
    margin-top: 10px;
    font-size: 1.2rem;
}

.right-side-4 img {
    max-width: 350px; /* Adjust logo size as needed */
    height: auto;
}

/*container-fluid*/
.container-fluid-6 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 650px;
    flex-wrap: nowrap;
}

.left-side-5 {
    flex: 1;
    background-color: #EBE9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.container-fluid-6-content {
    margin-left: 50px;
}

.left-side-5 h2 {
    font-size: 80px;
    margin-bottom: 5px;
}

.left-side-5 p {
    text-align: left;
    margin-bottom: 20px;
}

.left-side-5 .read-more {
    text-align: left;
}

.right-side-5 {
    flex: 1;
    background-image: url('../images/menu2.jpg'); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-5:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Overlay color */
}

/*container-fluid*/
.container-fluid-7 {
    margin: 0;
    padding: 0;
    display: flex;
    height: 650px;
    flex-wrap: nowrap;
}

.right-side-6 {
    flex: 1;
    background-color: #EBE9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.container-fluid-7-content {
    margin-right: 50px;
}

.right-side-6 h2 {
    text-align: right;
    font-size: 80px;
    margin-bottom: 5px;
}

.right-side-6 p {
    text-align: right;
    margin-bottom: 20px;
}

.right-side-6 .read-more {
    text-align: right;
}

.left-side-6 {
    flex: 1;
    background-image: url('../images/wedding.jpg'); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-6:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Overlay color */
}

/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 0;
}

/* Menu */
.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Pastikan elemen memiliki lebar penuh */
    height: 70px;
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-links a {
    margin: 0 15px;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.menu-links a:hover {
    text-decoration: underline;
}

.menu-section {
    background-color: #EBE9E6;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.menu-section h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu-section img {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-section h2 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0%;
}

.menu-section p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0%;
}

.menu-section h5 {
    font-size: 1rem;
    color: #555;
    font-weight: bold;
    margin-bottom: 70px;
}

.form-container {
    padding: 30px;
}

.form-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* modal */
.menu-item-container {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.menu-item-container .row {
    align-items: center;
}

.menu-item-container h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.menu-item-container p {
    margin: 0;
    color: #666;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.btn-outline-secondary {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 28px;
    padding: 0;
    text-align: center;
}

.menu-item-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}




/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .navbar-brand img {
        margin-left: 20px;
    }

    .left-side-1 h2,
    .right-side-2 h2,
    .left-side-5 h2,
    .right-side-6 h2 {
        font-size: 60px;
    }

    .jumbotron {
        height: 500px;
    }

    .container-fluid-2, .container-fluid-3, .container-fluid-6, .container-fluid-7 {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 2rem;
    }

    .left-side-1 h2,
    .right-side-2 h2,
    .left-side-5 h2,
    .right-side-6 h2 {
        font-size: 40px;
    }

    .container-fluid-2-content,
    .container-fluid-3-content,
    .container-fluid-6-content,
    .container-fluid-7-content {
        margin: 0 20px;
    }

    .container-fluid-4, .container-fluid-5 {
        flex-direction: column;
        height: auto;
    }

    .right-side-3,
    .left-side-3,
    .middle-side-4,
    .right-side-4,
    .left-side-4 {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        margin-left: 10px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .left-side-1 h2,
    .right-side-2 h2,
    .left-side-5 h2,
    .right-side-6 h2 {
        font-size: 30px;
    }

    .jumbotron,
    .container-fluid-2,
    .container-fluid-3,
    .container-fluid-6,
    .container-fluid-7 {
        height: 400px;
    }

    .menu-links {
        flex-direction: column;
        height: auto;
    }

    .menu-links a {
        margin: 10px 0;
    }
}

@media (max-width: 1200px) {
    .jumbotron {
        height: 500px;
    }

    .header-1 img {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .header-1 img {
        max-width: 300px;
    }

    .jumbotron {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .header-1 img {
        max-width: 200px;
    }

    .jumbotron {
        height: 300px;
    }
}